@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";
@import "less/variables";

.barba-container {
    transition: visibility 0s linear 0s, opacity 0.25s;
}

// GENERAL
body {
	background-color: @bg-dark;

	h2 {
		color: @white;
		font-size: 2.25rem;
		text-transform: uppercase;
		margin-bottom: 12px;
		font-weight: 400;
	}

	p {
		.gotham();
		color: @para-txt-dark;
		font-size: 1.1rem;
		line-height: 1.5rem;
		font-family: Georgia;
		margin: 12px 0 18px;
    	letter-spacing: .05px;

		&.intro-text {
			margin-bottom: 2rem;
		}
	}

	a {
	    text-decoration: none;
		color: @para-txt-dark;
	}

	.container {
		max-width: @container-max;
		width: 90%;
		margin: 0 auto;
	}

	hr {
		margin: 16px 0 0;
		border-color: @music-blue-lighter;
		border-width: 0 1px 2.25px 1px;
	}

	span.arrow-more::before {
		.fa-icon();
		content: '\E801';
		color: @para-txt-light;
		font-size: 25px;
	}

	button {
		.gotham();
		font-size: .9rem;
		position: absolute;
		padding: 7px 10px;
		color: @white;
		outline: none;
		transition: all 0.2s;

		&.favorites, &.lists {
			background: #4E4F66;
			border: 1px solid rgba(110, 110, 128, 0.85);
		}

		&.favorites {
			top: 10px;
			right: 0px;
			.heart::before {
				.fa-icon();
				content: '\E808';
			}
		}

		&.lists {
			top: 10px;
			right: 118px;
			.list-menu::before {
				.fa-icon();
				content: '\F0C9';
			}
		}

		&.modal-favorites {
			top: -8px;
			right: -5px;
			background: @bg-dark;
			border: 0;
			border-bottom: 2px solid @music-red;
			.heart::before {
				.fa-icon();
				content: '\E808';
			}
		}

		@media @screen-medium-above {
			&:hover {
				background: #45418C;
			}
		}

		@media @screen-small {
			border: 0;
			background: @bg-medium;
			padding: 7px 5px;

			&.favorites, &.lists {
				top: 7px;
				background: @bg-medium;
				border: 0;
			}

			&.lists {
				right: 105px;
			}

			&.modal-favorites {
				border-bottom: 0;
			}
		}
	}

	@media @screen-small-above {
		hr.line {
			display: none;
		}
	}

	@media @screen-small {
		h2 {
			font-size: 1.3rem;
			margin-bottom: 0px;
		}

		p {
			.gotham();
			font-size: .9rem;
			margin-top: 4px;
		}

		.container {
			max-width: 90%;
			margin: 0 auto;
		}
	}
}

// HEADER
header {
    background: @bg-medium;
    border-bottom: @music-blue-lighter 3px solid;

	.header-wrapper {
		img {
	        max-width: 150px;
	        width: 100%;
	        height: auto;
	        margin-top: 10px;
	    }

	    h1 {
	        font-size: 1.25rem;
	        text-transform: uppercase;
	        font-weight: normal;
			margin-top: 12px;
	        a { color: @white; }
	    }

		@media @screen-small {
			width: 90%;

			h1 {
				font-size: 1rem;
			}

			img {
				max-width: 95px;
			}
		}

		.header-btns {
			position: relative;
			background-color: yellow;
			top: -55px;

			@media @screen-small {
				top: -80px;
			}
		}
	}
}

// INDEX
.index-lists {
    max-width: 960px;
    margin: 0 auto;

    .list {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0 0 30px;
        border-bottom: 2.25px solid @music-blue-lighter;

        &:last-child {
            padding-top: 30px;
			border-bottom: 2.25px solid @music-grey-borders;
			//Take border away when sponsorship comes in and use borders on that space instead
        }

        .list-art {
            flex-basis: 20%;

            img {
                width: 100%;
                max-width: 300px;
            }
        }

        .list-info {
            padding-left: 30px;
            flex-basis: 80%;

            h3 {
                a { color: @white; }
                text-decoration: none;
                font-size: 1.3rem;
				margin: 3px 0 8px;
            }

			span.arrow-more::before {
				margin-left: 8px;
				position: absolute;
			}
        }

		@media @screen-small {
		    padding: 0 0 20px;

			.list-art {
				flex-basis: 30%;
			}
			.list-info {
				flex-basis: 70%;

				h3 {
					font-size: 1rem;
					margin: 3px 0 8px;
				}
			}
		}
    }

    .deeper-lists {
		margin-bottom: 3rem;

		.dlist {
			margin-bottom: 18px;
			border-bottom: 1.75px solid @music-grey-borders;

			&:last-child {
				border-bottom: 0;
			}
		}

		span.arrow-more::before {
			font-size: 16px;
			margin-left: 4px;
			position: absolute;
		}

		a { color: @white; }

        h4 {
            text-decoration: none;
            font-size: 16px;
			margin-bottom: 3px;
			margin-top: 18px;
        }

		p {
			font-size: 1rem;
			margin-top: 0;
			margin-bottom: 16px;
			line-height: 1.4rem;

			&.intro-text {
				margin-bottom: 1.5rem;
			}
		}

		@media @screen-small {
			margin-bottom: 2rem;
			h4 {
				font-size: 16px;
				margin-bottom: 5px;
			}

			p {
				font-size: .9rem;
				margin-top: 0;
				margin-bottom: 16px;
				line-height: 22px;
			}
		}
    }

}

.lists-continue {
	text-align: center;
	.gotham();
	margin: 10px 0;
	font-size: 14px;
}

.sponsorship {
	width: 100%;
	min-height: 250px;

	#amazon1{
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 250px;
	  background-color:#7c9bd3;
	}
}

// LIST
.list-container {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;

	h2 {
		text-transform: capitalize;
	}

	h3 {
		color: @white;
		font-size: 1.25rem;
		margin-left: 55px;
		margin-top: 2.75rem;
		text-transform: uppercase;
		position: relative;

		&.album-header::before {
			.header-icons();
			background-image: url('../assets/album-icon.svg');
		}

		&.song-header::before {
			.header-icons();
			background-image: url('../assets/song-icon.svg');
		}
	}

	.songs-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.song-wrapper {
		border-bottom: 2.25px solid @music-blue-lighter;
		clear: both;
		padding: 20px 0;
		display: flex;
		flex-basis: 48%;
		cursor: pointer;

		&:last-child, &:nth-last-child(2) {
			border-bottom: none;
		}

		p {
			line-height: 18px;

			&.short-desc::after {
				.fa-icon();
				content: '\E801';
				margin-left: 5px;
			}
		}

		.song-art {
			float: left;

			img {
				width: 100%;
				max-width: 65px;
				cursor: pointer;
			}
		}

		.song-info {
			flex-basis: 75%;
			margin-left: 5%;
			float: left;
			cursor: pointer;

			h6 {
				font-weight: 700;
				color: @music-red;
				margin: 0;
			}

			h5 {
				color: @para-txt-light;
				margin: 8px 0;
			}

			span.arrow-more {
				float: right;
				margin-top: -5px;
			}
		}
	}

	.albums .song-wrapper h5{
		font-style: italic;

		span {
			font-style: normal;
		}
	}

	@media @screen-medium {
		width: 90%;

		.song-wrapper {
			padding: 25px 0;
		}
	}

	@media @screen-small {
		width: 90%;

		.song-wrapper {
			flex-basis: 100%;

			.song-info {
				flex-basis: 85%;
			}

			&:last-child {
				border-bottom: none;
			}

			&:nth-last-child(2) {
				border-bottom: 2.25px solid @music-blue-lighter;
			}
		}
	}
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .modal-overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: 1;
    }

    .modal-content {
		background-color: @bg-dark;
		min-height: 500px;
		max-width: (@container-max + 300);
		width: 90%;
		opacity: 1;
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;

		// FLICKITY CUTSOM STYLES
		.flickity-prev-next-button {
			border-radius: 0;
			height: 55px;
			width: 25px;

			&.previous {
				left: -15px;
			}

			&.next {
				right: -15px;
			}
		}

		.modal-container {
			// width: 80%;
			max-width: (@container-max + 150);
			margin: 0 auto;
			padding: 25px 0;
			height: 400px;
    		overflow-y: auto;
			padding-right: 25px;

			&::-webkit-scrollbar-track {
				background-color: @music-grey-borders;
				border: 0.25px solid @bg-medium;
			}

			&::-webkit-scrollbar {
				width: 10px;
				background-color: @bg-medium;
			}

			&::-webkit-scrollbar-thumb {
				background-color: @bg-medium;
			}

			h6.artist {
				font-weight: 700;
				color: @music-red;
				margin: 0;
			}

			h5.title {
				color: @para-txt-light;
				margin: 8px 0;
			}

			p.author {
				.gotham();
				font-size: .9rem;

				&::before {
					content: '\2014';
					margin-right: 5px;
				}

				span.affiliation {
					font-weight: bold;
					font-style: italic;
				}
			}

			.song-titleinfo {
				margin-bottom: 16px;
				position: relative;
			}

			.song-player {
				height: 85px;

				div.art-cover {
					float: left;
					margin-right: 10px;

					img {
						width: 100%;
						max-width: 85px;
					}
				}
				div.play-box {
					padding-top: 8px;

					p {
						color: @para-txt-light;
						&.play {
							text-transform: uppercase;
							font-weight: 700;
							margin-bottom: -5px;
						}
					}

					span.question::before {
						.fa-icon();
						content: '\E80A';
						color: @para-txt-light;
						font-size: 15px;
						float: right;
						margin-right: 8px;
						cursor: pointer;
					}
				}
			}

			@media @screen-medium {
				width: 85%;
			}

			@media @screen-small {
				width: 85%;

				.song-player {
					background-color: @music-grey-borders;

				}
			}
		}
    }

    .carousel-cell {
        width: 100%;
        height: 100%;
        z-index: -1;
        &.is-selected {
            z-index: 0;
            background-color: @bg-dark;
        }
    }

    .flickity-viewport {
        min-height: 500px;
    }

	.bottom-gradient {
		position: absolute;
		bottom: 45px;
		left: 0px;
		width: 90%;
		height: 50px;
		background: -moz-linear-gradient(top,  @bg-dark-gradient-start 0%, @bg-dark-gradient-end 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top,  @bg-dark-gradient-start 0%, @bg-dark-gradient-end 100%); /* Chrome10+,Safari5.1+ */
		background: -ms-linear-gradient(top,  @bg-dark-gradient-start 0%, @bg-dark-gradient-end 100%); /* IE10+ */
	}
}

footer {
    background: @blue-darker;
    border-top: @music-blue-lighter 3px solid;
    margin-top: 20px;
    padding: 20px 0 30px;

    h5 {
        color: @white;
        text-transform: uppercase;
		font-size: 15px;
    }

	p {
		font-size: 0.9rem;
		margin-bottom: 0px;

		&:last-child {
			margin-top: 0px;
		}
	}

	@media @screen-small {
		p {
			font-size: 0.8rem;
			line-height: 1.1rem;
		}
	}
}
