@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";
@import "less/variables";

.barba-container {
    transition: visibility 0s linear 0s, opacity 0.25s;
}

body {
	background-color: @blue-darker;
}

p {
	.gotham();
	color: @music-event-txt-dark;
	font-size: 14px;
}

a {
    text-decoration: none;
}

header {
    background: @blue-dark;
    border-bottom: @music-hp-link-color 3px solid;

    img {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    h1 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: normal;
        a { color: @white; }
    }

    .favorites {
				.gotham();
				font-size: .9rem;
        position: absolute;
        top: 10px;
        right: 10px;
				background: @deep-blue;
				border: 0;
				padding: 7px 10px;

				.heart::before {
					.fa-icon();
					content: '\E801';
				}
    }
}

// GENERAL
h2 {
	color: @white;
	font-size: 1.3rem;
}

// INDEX
.index-lists {
    max-width: 960px;
    margin: 0 auto;

    h2 {
        font-size: 32px;
        text-transform: uppercase;
        color: @white;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0 0 30px;
        border-bottom: @music-hp-link-color 1px solid;

        &:last-child {
            padding-top: 30px;
        }

        .list-art {
            flex-basis: 20%;
            img {
                width: 100%;
                max-width: 300px;
            }
        }
        .list-info {
            padding-left: 20px;
            flex-basis: 80%;
            h3 {
                a { color: @white; }
                text-decoration: none;
                font-size: 20px;
            }
        }
    }

    .deeper-lists {
        h4 {
            a { color: @white; }
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
}

// LIST
.list-container {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;

	.song-container {
		border-top: 1.5px solid @music-event-txt-light;
		clear: both;
		padding: 20px 0;
		display: flex;

		p {
			line-height: 18px;

			&.short-desc::after {
				.fa-icon();
				content: '\E801';
				margin-left: 5px;
			}
		}

		.song-art {
			flex-basis: 25%;
			float: left;

			img {
				width: 100%;
				max-width: 150px;
			}
		}

		.song-info {
			flex-basis: 65%;
			margin-left: 5%;
			float: left;

			h6 {
				font-weight: 700;
				color: @music-red;
				margin: 0;
			}

			h5 {
				color: @music-event-txt-light;
				margin: 8px 0;
			}
		}
	}

	@media @screen-small {
		width: 90%;
	}

	@media @screen-medium {
		width: 90%;

		.song-container {
			padding: 25px 0;
		}
	}
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .modal-overlay {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: 1;
    }

    .modal-content {
        background-color: @music-hp-dark;
        min-height: 400px;
        width: 90%;
        opacity: 1;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		padding: 15px;

		h6.artist {
			font-weight: 700;
			color: @music-red;
			margin: 0;
		}

		h5.title {
			color: @music-event-txt-light;
			margin: 8px 0;
		}

		.song-player {
			background-color: @music-dark;
			display: flex;
			height: 85px;

			div.art-cover {
				flex-basis: 25%;

				img {
					width: 100%;
					max-width: 85px;
				}
			}
			div.play-box {
				flex-basis: 70%;
				padding: 8px 10px;

				p {
					color: @music-event-txt-light;

					&:first-child { margin-bottom: 5px; }
				}
			}
		}
    }
}
