@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";

@primary-control: #6d8ac4;
@deep-blue: #7598c9;
@blue-dark: #1E2E3A;
@blue-darker: #141D24;

@music-dark: #444d58;
@music-medium: #e6ebf2;
@music-light: #dbe0e6;
@music-red: #bc453e;
@music-red-dark: #6f3533;
@music-red-light: #f05b4e;

@music-event-dark: #2e333c;
@music-event-darker: #16191e;
@music-event-txt-light: #cfd3de;
@music-event-txt-dark: #8b9094;
@music-event-light-button-blue: @deep-blue;
@music-event-light-button: @deep-blue;
@music-event-light-highlight-txt: @primary-control;
@music-event-light-border: #252525;

@music-hp-light: #e7e4dd;
@music-hp-dark: #19262f;
@music-hp-link-color: #568fcb;
@music-hp-link-color2: #4a90e2;
@music-hp-c-t-asecondary: #8a8a8a;

@yellow: #EFC637;
@white: #fff;
@gray-medium: #A0A0A0;

@tag-1: #f97450;
@tag-2: #f05b4e;
@tag-3: #ce4242;
@tag-4: #b73759;
@tag-5: #933256;
@tag-6: #7b2c62;
@tag-7: #653279;
@tag-8: #524189;
@tag-9: #5756a5;
@tag-10: #416ab8;

body {
	background-color: @blue-darker;
}

p {
	color: @music-event-txt-dark;
	font-size: 14px;
	font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background: @blue-dark;
    border-bottom: @music-hp-link-color 3px solid;

    img {
        max-width: 150px;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    h1 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: normal;
        color: @white;
    }

    .favorites {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

// GENERAL
h2 {
	color: white;
	font-size: 1.3rem;
}

// INDEX
.index-lists {
    max-width: 960px;
    margin: 0 auto;

    h2 {
        font-size: 32px;
        text-transform: uppercase;
        color: @white;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 0 0 30px;
        border-bottom: @music-hp-link-color 1px solid;

        &:last-child {
            padding-top: 30px;
        }

        .list-art {
            flex-basis: 20%;
            img {
                width: 100%;
                max-width: 300px;
            }
        }
        .list-info {
            padding-left: 20px;
            flex-basis: 80%;
            h3 {
                a { color: @white; }
                text-decoration: none;
                font-size: 20px;
            }
        }
    }

    .deeper-lists {
        h4 {
            a { color: @white; }
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
}

// LIST
.list-container {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;

	.song-container {
		border-top: 1.5px solid white;
		clear: both;
		padding: 20px 0;

		p {
			line-height: 18px;

			&.short-desc::after {
				font-family: "npr-app-template";
				content: '\E801';
				margin-left: 5px;
			}
		}

		.song-art {
			width: 25%;
			float: left;

			img {
				width: 100%;
				max-width: 150px;
			}
		}

		.song-info {
			width: 65%;
			margin-left: 5%;
			float: left;

			h6 {
				font-weight: 700;
				color: indianred;
				margin: 0;
			}

			h5 {
				color: white;
				margin: 8px 0;
			}
		}
	}

	@media (max-width: 500px) {
		width: 90%;
	}
}
