<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    <script type="text/javascript" src="js/lib/modernizr.js"></script>
    <script type="text/javascript" src="js/lib/es6-promise.js"></script>
    <script type="text/javascript" src="js/app_config.js"></script>
    <script type="text/javascript" src="js/rendered/analytics.js"></script>

    {% block content %}
    {% endblock content %}
    
    <script type="text/javascript" src="js/rendered/app.js"></script>
   
    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        // ANALYTICS.setupChartbeat();
    </script>
</body>
</html>
