<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="song-titleinfo">
            <h6 class="artist"></h5>
            <h5 class="title"></h6>
        </div>
        <div class="song-player">
            <div class="art-cover">
                <img src="" />
            </div>
            <div class="play-box">
                <p>Play this song</p>
                <p>hyperurl.co</p>
            </div>
        </div>
        <div class="song-information">
            <p class="desc"></p>
        </div>
    </div>
</div>
