<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="main-carousel">
            {% for item in COPY[slug] %}
            <div class="carousel-cell">
                <div class="song-titleinfo">
                    <h6 class="artist">{{ item.artist }}</h6>
                    <h5 class="title">{{ item.title }}</h5>
                </div>
                <div class="song-player">
                    <div class="art-cover">
                        <img src="{{ item.art }}" />
                    </div>
                    <div class="play-box">
                        <p>Play this song</p>
                        <p>{{ item.smarturl }}</p>
                    </div>
                </div>
                <div class="song-information">
                    <p class="desc">{{ item.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
