<div class="carousel-cell" data-slug="{{ item.song_slug }}">
    <div class="modal-container">
        <div class="modal-top">
            <a href="http://npr.org/music"><img src="{{ S3_BASE_URL }}/assets/music-logo-outline-thick.svg"></a>
            <h1>{{ list_name }}</h1>
            <div class="header-btns">
                <a href="#"><button class="window-close"><span class="x-close"></span></button></a>
            </div>
        </div>
        <div class="scroll-container">
            <div class="item-top desktop">
                <div class="art-cover">
                    <img src="{{ item.art }}" />
                </div>
                <div class="song-titleinfo">
                    <h6 class="artist">{{ item.artist }}</h6>
                    <h5 class="title {% if item.type == 'song' %}song-title{% endif %}{% if item.type == 'album' %}album-title{% endif %}">{{ item.title }}</h5>
                    <div class="play-box">
                        <p class="play">Play this {{ item.type }} <span class="url">{{ item.smarturl }}</span><a href="#question"><span class="question"></span></a></p>
                        {% if item.explicit == 'yes' %}<p class="explicit">LANGUAGE ADVISORY: This <strong>{% if item.type == 'song' %}song{% endif %}{% if item.type == 'album' %}album{% endif %}</strong> contains profanity.</p>{% endif %}
                    </div>
                    <button class="modal-favorites" data-slug="{{ item.song_slug }}"><span class="heart"></span> Favorite</button>
                </div>
            </div>
            <div class="item-top mobile">
                <div class="song-titleinfo">
                    <h6 class="artist">{{ item.artist }}</h6>
                    <h5 class="title {% if item.type == 'song' %}song-title{% endif %}{% if item.type == 'album' %}album-title{% endif %}">{{ item.title }}</h5>
                    <button class="modal-favorites" data-slug="{{ item.song_slug }}"><span class="heart"></span> Favorite</button>
                </div>
                <a href="{{ item.smarturl }}">
                    <div class="song-player">
                        <div class="art-cover">
                            <img src="{{ item.art }}" />
                        </div>
                        <div class="play-box">
                            <span class="question"></span>
                            <p class="play">Play this {{ item.type }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <hr class="hr-embed" />
            <div class="song-information">
                {% if item.embed %}
                <div class="embed">
                    <div class="{% if item.embed_type == 'YouTube' %}embed-container{% endif %}">
                        {{ item.embed|safe }}
                    </div>
                    <p class="embed-source">{{ item.embed_type }}</p>
                </div>
                {% endif %}
                <p class="desc">{{ item.description }}</p>
                {% if item.author_twitter %}<a href="https://twitter.com/{{ item.author_twitter }}">{% endif %}
                <p class="author">{{ item.author }} <span class="affiliation">{{ item.affiliation }}</span></p>
                {% if item.author_twitter %}</a>{% endif %}
                <hr />
                <p class="filed"><b>Filed under:</b> {{ item.filed_under }}</p>
            </div>
            <hr />
            <p class="explainer" id="question">
                We're using <b class="emphasis">smartURL</b> to make it easier to play songs using the service of your choice. When you select
                the <b class="emphasis">PLAY THIS SONG</b> link you will be redirected to a page where you can choose Spotify, Apple Music
                or your preferred music service.
            </p>
        </div>
    </div>
</div>
