<div class="carousel-cell" data-slug="{{ item.song_slug }}">
    <div class="modal-container">
        <div class="song-titleinfo">
            <h6 class="artist">{{ item.artist }}</h6>
            <h5 class="title">{{ item.title }}</h5>
        </div>
        <div class="song-player">
            <div class="art-cover">
                <img src="{{ item.art }}" />
            </div>
            <div class="play-box">
                <p>Play this {{ item.type }}</p>
                <p>{{ item.smarturl }}</p>
            </div>
        </div>
        <div class="song-information">
            <p class="desc">{{ item.description }}</p>
            <p class="author">{{ item.author }} <span class="affiliation">{{ item.affiliation }}</span></p>
            {% if item.embed %}
            <div class="embed">
                {{ item.embed|safe }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
