<div class="carousel-cell" data-slug="<%= item.song_slug %>">
    <div class="modal-container">
        <div class="modal-top">
            <img src="<%= baseURL %>/assets/music-logo-outline-thick.svg">
            <h1><%= listName %></h1>
        </div>
        <div class="scroll-container">
            <div class="item-top desktop">
                <div class="art-cover">
                    <img class="art" data-flickity-lazyload="https://media.npr.org/music/best-music-2016/<%= item.art.split('.')[0] %>-s200-c85.<%= item.art.split('.')[1] %>" />
                </div>

                <div class="song-titleinfo">
                    <% if (ranked) { %>
                        <h4 class="rank"><%= parseInt(item.sort) %>.</h4>
                    <% } %>

                    <h6 class="artist"><%= item.artist %></h6>
                    <h5 class="title <%= item.type %>-title"><%= item.title %></h5>

                    <% if (item.explicit == 'yes') { %>
                        <p class="explicit">LANGUAGE ADVISORY: This <%= item.type %> contains profanity.</p>
                    <% } %>

                    <button class="modal-favorites" data-slug="<%= item.song_slug %>"><span class="heart"></span> Favorite</button>
                </div>
            </div>

            <div class="song-information">
                <% if (item.embed) { %>
                <div class="embed">
                    <% if (item.embed_type == 'YouTube') { %>
                        <div class="embed-container" data-slug="<%= item.song_slug %>">
                            <iframe width="560" height="315" data-src="<%= item.embed %>/?showinfo=0&playsinline=1&origin=https://apps.npr.org" frameborder="0" allowfullscreen></iframe>
                        </div>
                    <% } else { %>
                        <div data-slug="<%= item.song_slug %>">
                            <%= item.embed %>
                        </div>
                    <% } %>
                    <% if (item.embed_caption) { %>
                    <p class="embed-caption"><%= item.embed_caption %></p>
                    <% } %>
                    <p class="embed-source"><%= item.embed_type %></p>
                </div>
                <% } %>
                <p class="desc"><%= item.description %></p>

                <p class="author">
                    <% if (item.author_twitter) { %>
                        <a href="https://twitter.com/<%= item.author_twitter %>">
                    <% } %>
                    <%= item.author %><% if (item.affiliation) { %>,<% } %>

                    <% if (item.author_twitter) { %>
                        </a>
                    <% } %>

                     <span class="affiliation"><%= item.affiliation %></span></p>


                <% if (item.filed_under) { %>
                    <p class="filed"><b>Filed under:</b> <%= item.filed_under %></p>
                <% } %>
            </div>

            <div class="stream-link">
                <h4><a href="<%= item.smarturl %>" target="_blank" data-slug="<%= item.song_slug %>">
                    Add this <%= item.type %> to your collection
                </a></h4>

                <p>We're using <a href="https://manage.smarturl.it/" target="_blank">smartURL</a> to make it easier to listen to songs and albums using the service of your choice. When you select
                the link above, you will be redirected to a page where you can choose Spotify, Apple Music or your preferred music service.</p>
            </div>
        </div>
    </div>
</div>
