{% extends '_base.html' %}
{% block content %}

<div class="no-content container">
  <h2>You Haven't Added Any Favorites Yet.</h2>
  <p>
    Select the Favorite button on a song or album page to create your own list.
  </p>
</div>

<div class="favorites"></div>
<div class="modal"></div>

<script type="text/template" id="song-container-template">
    <div class="list-container container">
        <div class="list-header">
            <div class="favorites list-title">
                <h2>My Favorites</h2>
                <p>
                    Here's a collection of the music you love. The ones that spoke to you
                    and let you relive all the emotion of 2016. Here are your favorites.
                </p>
            </div>
        </div>
        <% if (types === 'both' || types === 'album') { %>
        <div class="albums">
            <h3 class="album-header">Favorite Albums</h3>
            <div class="songs-container">
            <% favoriteItems.forEach(function(item) {
               if (item.type === 'album') {
            %>
                <div class="song-wrapper" id="<%= item.song_slug %>">
                    <div class="song-art">
                        <a href="#"><img class="art coverart" data-src="<%= item.art %>"></a>
                    </div>
                    <div class="song-info">
                        <h6><%= item.artist %></h6>
                        <h5><%= item.title %><span class="arrow-more"></span></h5>
                    </div>
                </div>
            <% }}); %>
            </div>
        </div>
        <% } %>
        <% if (types === 'both' || types === 'song') { %>
        <div class="songs">
            <h3 class="song-header">Favorite Songs</h3>
            <div class="songs-container">
            <% favoriteItems.forEach(function(item) {
               if (item.type === 'song') {
            %>
                <div class="song-wrapper" id="<%= item.song_slug %>">
                    <div class="song-art">
                        <a href="#"><img class="art coverart" data-src="<%= item.art %>"></a>
                    </div>
                    <div class="song-info">
                        <h6><%= item.artist %></h6>
                        <h5><%= item.title %><span class="arrow-more"></span></h5>
                    </div>
                </div>
            <% }}); %>
            </div>
        </div>
        <% } %>
    </div>
</script>

<script type="text/template" id="modal-template">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="main-carousel">
            <% favoriteItems.forEach(function(item) { %>
            <div class="carousel-cell" data-slug="<%= item.song_slug %>">
                <div class="modal-container">
                    <div class="modal-top">
                        <img src="{{ S3_BASE_URL }}/assets/music-logo-outline-thick.svg">
                        <h1>Your Favorites</h1>
                    </div>
                    <div class="scroll-container">
                        <div class="item-top desktop">
                            <div class="art-cover">
                                <img class="art" data-src="<%= item.art %>" />
                            </div>
                            <div class="song-titleinfo">
                                <h6 class="artist"><%= item.artist %></h6>
                                <h5 class="title <% if (item.type === 'album') { %>album-title<% } %> <% if (item.type === 'song') { %>song-title<% } %>"><%= item.title %></h5>
                                <div class="play-box">
                                    <p class="play">Play this <%= item.type %> <span class="url"><%= item.smarturl %></span><a href="#question"><span class="question"></span></a></p>
                                    <% if (item.explicit === 'yes') { %><p class="explicit">LANGUAGE ADVISORY: This <% if (item.type === 'song') { %>song<% } %> <% if (item.type == 'album') { %>album<% } %> contains profanity.</p><% } %>
                                </div>
                                <button class="modal-favorites" data-slug="<%= item.song_slug %>"><span class="heart"></span> Favorite</button>
                            </div>
                        </div>
                        <div class="item-top mobile">
                            <div class="song-titleinfo">
                                <h6 class="artist"><%= item.artist %></h6>
                                <h5 class="title <% if (item.type === 'album') { %>album-title<% } %> <% if (item.type === 'song') { %>song-title<% } %>"><%= item.title %></h5>
                                <button class="modal-favorites" data-slug="<%= item.song_slug %>"><span class="heart"></span> Favorite</button>
                            </div>
                            <a href="<%= item.smarturl %>">
                                <div class="song-player">
                                    <div class="art-cover">
                                        <img class="art" data-src="<%= item.art %>" />
                                    </div>
                                    <div class="play-box">
                                        <span class="question"></span>
                                        <p class="play">Play this <%= item.type %></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <hr class="hr-embed" />
                        <div class="song-information">
                            <% if (item.embed) { %>
                            <div class="embed">
                                <% if (item.embed_type === 'YouTube') { %>
                                    <div class="embed-container">
                                        <iframe width="560" height="315" data-src="<%= item.embed %>/?showinfo=0&playsinline=1&origin=http://apps.npr.org" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                <% } else { %>
                                    <div>
                                        <%= item.embed %>
                                    </div>
                                <% } %>
                                <% if (item.embed_caption) { %>
                                <p class="embed-caption"><%= item.embed_caption %></p>
                                <% } %>
                                <p class="embed-source"><%= item.embed_type %></p>
                            </div>
                            <% } %>
                            <p class="desc"><%= item.description %></p>

                            <% if (item.author_twitter) { %><a href="https://twitter.com/<%= item.author_twitter %>"> <% } %>
                            <p class="author"><%= item.author %> <span class="affiliation"><%= item.affiliation %></span></p>
                            <% if (item.author_twitter) { %></a> <% } %>
                            <p class="filed"><b>Filed under:</b> <%= item.filed_under %></p>
                        </div>
                        <p class="explainer" id="question">
                            We're using <b class="emphasis">smartURL</b> to make it easier to play songs using the service of your choice. When you select
                            the <b class="emphasis">PLAY THIS SONG</b> link you will be redirected to a page where you can choose Spotify, Apple Music
                            or your preferred music service.
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</script>

{% endblock content %}
