{% extends '_base.html' %}
{% block content %}
<div class="index-lists container">
    <div class="best-lists">
        <!-- <h2>{{ COPY.content.index_best_title }}</h2> -->
        <!-- <p class="intro-text">{{ COPY.content.index_best_sub }}</p> -->


                <div class="list bestlist">

                    {% for list in COPY.best_lists %}
                    <a href="{{ S3_BASE_URL }}/list/{{ list.slug }}">
                        <div class="bestlist-item">
                            <img src="{{ S3_BASE_URL }}/assets/{{ list.art }}" />
                            <h4>{{ list.list_name }}</h4>
                        </div>
                    </a>
                    {% endfor %}

                </div>

    </div>
</div>

<div class="index-lists container">
    <div class="deeper-lists">
        <h2>{{ COPY.content.index_deeper_title }}</h2>
        <p class="intro-text">{{ COPY.content.index_deeper_sub }}</p>
        <div class="lists">
            {% for list in COPY.deeper_lists %}
            <div class="dlist">
                <a href="{{ S3_BASE_URL }}/list/{{ list.slug }}">
                    <h4>{{ list.list_name }}</h4>
                    <p class="list-desc">{{ list.description }}<span class="arrow-more"></span></p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<footer>
    <div class="footer-wrapper container">
        <h5>Project Credits</h5>
        <p>NPR Music: Jacob Ganz and Otis Hart</p>
        <p>Illustration: Chelsea Beck</p>
        <p>Design and Development: David Eads, Tyler Fisher, Wes Lindamood, and Brittany Mayes</p>
        <p>Published on:</p>

    </div>
</footer>
{% endblock content %}
