{% extends '_base.html' %}
{% block content %}
<div class="index-lists container">
    <div class="best-lists">
        <h2>{{ COPY.content.index_best_title }}</h2>
        <p class="intro-text">{{ COPY.content.index_best_sub }}</p>
        {% for list in COPY.best_lists %}
            <div class="list bestlist">
                <a href="{{ S3_BASE_URL }}/list/{{ list.slug }}">
                    <img src="{{ S3_BASE_URL }}/assets/{{ list.art }}">
                    <h3>{{ list.list_name }}<span class="arrow-more"></span></h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<p class="lists-continue">Lists continue after sponsorship</p>
<div class="sponsorship">
    <h1>Sponsorship</h1>
    <div id='amazon1'></div>
</div>
<div class="index-lists container">
    <div class="deeper-lists">
        <h2>{{ COPY.content.index_deeper_title }}</h2>
        <p class="intro-text">{{ COPY.content.index_deeper_sub }}</p>
        <div class="lists">
            {% for list in COPY.deeper_lists %}
            <div class="dlist">
                <a href="{{ S3_BASE_URL }}/list/{{ list.slug }}">
                    <h4>{{ list.list_name }}</h4>
                    <p class="list-desc">{{ list.description }}<span class="arrow-more"></span></p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<footer>
    <div class="footer-wrapper container">
        <h5>Project Credits</h5>
        <p>NPR Music: Jacob Ganz and Otis Hart</p>
        <p>Design and Development: David Eads, Tyler Fisher, Wes Lindamood, Brittany Mayes</p>
    </div>
</footer>
{% endblock content %}
