{% extends '_base.html' %}
{% block content %}
<div class="index-lists container">
    <div class="best-lists">
        <h2>{{ COPY.content.index_best_title }}</h2>
        <p class="intro-text">{{ COPY.content.index_best_sub }}</p>
        {% for list in COPY.best_lists %}
            <div class="list">
                <div class="list-art">
                    <a href="list/{{ list.slug }}">
                        <img src="assets/{{ list.art }}">
                    </a>
                </div>
                <div class="list-info">
                    <h3><a href="list/{{ list.slug }}">{{ list.list_name }}</a></h3>
                    <p>{{ list.description }}<span class="arrow-more"></span></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="deeper-lists">
        <h2>{{ COPY.content.index_deeper_title }}</h2>
        <!-- <p>{{ COPY.content.index_deeper_sub }}</p> -->
        <div class="lists">
            {% for list in COPY.deeper_lists %}
            <div class="dlist">
                <h4><a href="list/{{ list.slug }}">{{ list.list_name }}</a></h4>
                <p class="list-desc">{{ list.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
