{% extends '_base.html' %}
{% block content %}

<div class="list-container container">
    <div class="list-header">
        <div class="list-title">
            <h2>{{ list_name }}</h2>
            <p>{{ list_description }}</p>
        </div>

        <div class="playlist-wrapper">
            <h6><a class="spotify-playlist" href="{{ playlist }}">Playlist</a></h6>
            <p>Listen to highlights from this playlist on Spotify</p>
        </div>
    </div>

    {% if types == 'both' %}
    <div class="mixed-list">
        <div class="albums">
            <h3 class="album-header">Albums</h3>
            <div class="songs-container">
                {% for song in COPY[slug] %}
                {% if song.type == 'album' %}
                {% include '_song_wrapper.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="songs">
            <h3 class="song-header">Songs</h3>
            <div class="songs-container">
                {% for song in COPY[slug] %}
                {% if song.type == 'song' %}
                {% include '_song_wrapper.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
    <div class="{{ types }}s">
        <div class="songs-container">
            {% for song in COPY[slug] %}
            {% include '_song_wrapper.html' %}
            {% endfor %}
        </div>
    </div>

    {% endif %}
</div>

{% include '_modal.html' %}
{% endblock content %}
