{% extends '_base.html' %}
{% block content %}
<div class="list-container">
  <h2>Top Songs of 2016</h2>
  <!-- <h2>{{ COPY['best_lists'].list_name }}</h2> -->
  <p>
    We ased more than 50 hosts to name their favorite song of the year.
  </p>

  <div class="songs-container">
      {% for song in COPY[slug] %}
      <div class="song-wrapper">
        <div class="song-art">
          <a href="#">
            <img class="coverart" src="{{ song.art }}">
          </a>
        </div>
        <div class="song-info">
          <h6>{{ song.artist }}</h6>
          <h5>"{{ song.title }}"</h5>
          <!-- <p class="short-desc">{{ song.description }}</p> -->
        </div>
      </div>
      {% endfor %}
  </div>

</div>

{% include '_modal.html' %}
{% endblock content %}
