{% extends '_base.html' %}

{% block meta %}
<title>{{ list_name }}</title>
<meta name="description" content="{{ social_description }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://media.npr.org/favicon.ico" />
{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ COPY.share.twitter_handle }}">
<meta name="twitter:image" content="{{ S3_BASE_URL }}/assets/{{ art }}" />

{# Facebook #}
<meta property="og:title" content="{{ list_name }}" />
<meta property="og:url" content="{{ S3_BASE_URL }}/list/{{ slug.replace('_', '-') }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ social_description }}" />
<meta property="og:image" content="{{ S3_BASE_URL}}/assets/{{ art }}" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="{{ COPY.share.facebook_app_id }}" />

{# Google News #}
<meta name="thumbnail" content="{{ COPY.share.google_news_image_url }}" />
{% endblock %}

{% block content %}

<div class="list-container container">
    <div class="list-header">
        <div class="list-title">
            <h2>{{ list_name }}</h2>
            <p>{{ list_description }}</p>

            <p><a class="spotify-playlist" data-slug="{{ slug }}" href="{{ playlist }}" target="_blank">Listen to highlights from this playlist on Spotify</a></p>

        </div>



    </div>

    {% if types == 'both' %}
    <div class="mixed-list">
        <div class="albums">
            <h3 class="album-header">Albums</h3>
            <div class="songs-container">
                {% for song in COPY[slug] %}
                {% if song.type == 'album' %}
                {% include '_song_wrapper.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="songs">
            <h3 class="song-header">Songs</h3>
            <div class="songs-container">
                {% for song in COPY[slug] %}
                {% if song.type == 'song' %}
                {% include '_song_wrapper.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
    <div class="{{ types }}s">
        <div class="songs-container">
            {% for song in COPY[slug] %}
            {% include '_song_wrapper.html' %}
            {% endfor %}
        </div>
    </div>

    {% endif %}
</div>

{% include '_modal.html' %}

<script id="slider-item" type="text/template">
    {% include '_slider_item.html' %}
</script>
{% endblock content %}
